.assets {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  @media(min-width: 992px) {
    width: 70%;
    margin: auto;
  }
  .each-asset {
    width: 94%;
    margin: 1rem auto;
    height: 100px;
    border: 1px solid #ECECEC;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    padding: 1.25rem;
    @media(min-width: 992px) {
      height: 105px;
      width: 32%;
    }
    .title {
      font-weight: 500;
      font-size: 1.25rem;
    }
    .sub {
      font-size: 0.975rem;
      font-weight: 300;
    }
    a {
      font-size: 0.875rem;
    }
  }
}