.component-section {
  background-color: #fafafa;
  padding: 4rem 0;
  font-family:  'Poppins';
  .assets {
    &.change {
      .underline-bg {
        border-bottom: 1px solid #888;
        width: 94%;
        margin: auto;
        @media(max-width: 767px) {
          display: none;
        }
      }
      .underline-sm {
        border-bottom: 1px solid #888;
        width: 80%;
        margin: auto;
        @media(min-width: 768px) {
          display: none;
        }
      }
      .each-asset {
        width: 45%;
        text-align: center;
        height: 70px;
        padding: 1.25rem;
        margin: 1.5rem 0;
        border-bottom: 1px solid #d1d1d1;
        &.reduced {
          font-size: 1.125rem;
        }
        @media(min-width: 992px) {
          height: 105px;
          width: 29%;
          margin: 1rem 0;
          padding: 2.25rem;

        }
        .title {
          font-family:  'Poppins';
          font-weight: 400;
          font-size: 1.5rem;
          text-align: center;
          a {
            color: rgb(88, 28, 148);
            font-weight: 400;
            font-size: 1.5rem;
          }
        }
        .sub {
          font-size: 0.975rem;
          font-weight: 300;
          font-family:  'Poppins';
        }
        a {
          font-size: 0.875rem;
          font-family:  'Poppins';
        }
      }
    }
    .ass {
      width: 29%;
      border: 1px solid rgba(0, 0, 0, 0.05);
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
      padding: 0.75rem;
      margin: 0.5rem;
      a {
        width: 100%;
      }
      a, span {
        color: #333;
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
        &.right {
          width: auto;
          text-align: center;
          text-align: center;
          display: block;
          @media(min-width: 768px) {
            float: right;
          }
        }
        @media(min-width: 992px) {
          font-size: 1.25rem;
        }
      }
      .icon {
        margin-bottom: 0.5rem;
        @media(max-width: 767px) {
          display: flex;
          justify-content: center;
        }
        img {
          height: 40px;
          width: auto;
          @media(min-width: 768px) {
            height: 65px;
          }
        }
        i {
          font-size: 34px;
          @media(min-width: 768px) {
           font-size: 44px;
          }
        }
      }
      @media(min-width: 768px) {
        width: 27%;
        padding: 0.75rem 1rem;
      }
    }
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    @media(min-width: 992px) {
      width: 75%;
      margin: auto;
    }
    @media(min-width: 1200px) {
      width: 60%;
      margin: auto;
    }
    // .each-asset {
    //   width: 94%;
    //   margin: 1rem auto;
    //   height: 100px;
    //   border: 1px solid #ECECEC;
    //   border-radius: 0.5rem;
    //   background-color: #FFFFFF;
    //   padding: 1.25rem;
    //   @media(min-width: 992px) {
    //     height: 105px;
    //     width: 30%;
    //     margin: 1rem;
    //   }
    //   .title {
    //     font-weight: 500;
    //     font-size: 1.25rem;
    //   }
    //   .sub {
    //     font-size: 0.975rem;
    //     font-weight: 300;
    //   }
    //   a {
    //     font-size: 0.875rem;
    //   }
    // }
  }
}
.visibility-hidden {
  visibility: hidden;
}
.component-header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  font-family:  'Poppins';
  @media(min-width: 992px) {
    font-size: 2.25rem;
  }
}

.flex-itemss {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.data-loading {
  position: absolute;
  top: 35%;
  left: 45%;
  z-index: 99999;
  @media(max-width: 767px) {
    left: 30%;
    top: 46%;
  }
  .loader-img {
    display: block;
    width: 120px;
    height: 120px;
  }
}

.hide {
  display: none;
}

.table-toppings {
  width: 98%;
  margin: 1rem auto;
  overflow-x: scroll;
  @media(min-width: 992px) {
    width: 68%;
  }
  .tbl-header {
    table {
      thead tr {
        height: 4rem;
        th {
          font-weight: 500;
          color: #333;
          font-family:  'Poppins';
        }
      }
      tbody tr {
        height: 3.75rem;
        font-weight: 300;
        color: #888;
        font-size: 0.935rem;
        font-family:  'Poppins';
      }
      td {
        font-family: 'Poppins';
      }
    }
  }
}
.text-block {
  @media(min-width: 992px) {
    margin: 2.25rem 0 !important;
  }
  &.menu {
    h4 {
      margin-top: 0.75rem;
      font-family:  'Poppins';
    }
  }
  a {
    color: #333;
    display: block;
    font-family:  'Poppins';
    img {
      width: 3rem;
      height: 3rem;
      display: block;
      margin: 0.5rem auto;
    }
    h4 {
      font-weight: 300;
      color: #888;
      font-size: 1.25rem;
    }
  }
  .title {
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    font-family:  'Poppins';
    @media(min-width: 992px) {
      font-size: 2.25rem;
      text-align: left;
    }
  }
  .staff-img {
    display: block;
    margin: 1rem 0;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    @media(max-width: 767px) {
      margin: auto;
      margin-bottom: 1.5rem;
    }
  }
  .social {
    display: block;
    margin: 1rem auto;
    width: 60px;
    height: 60px;
    @media(min-width: 768px) {
      margin: 1rem;
    }
  }
  a {
    &.hide {
      display: none;
    }
  }
  .icon {
    display: block;
    margin: 2rem auto;
    width: 200px;
    height: auto;
    border-radius: 50%;
  }
  .date {
    font-size: 0.875rem;
    @media(max-width: 767px) {
      text-align: center;
    }
  }
}

.others {
  h4 {
    font-size: 1.125rem;
    font-family:  'Poppins';
    @media(min-width: 992px) {
      font-size: 1.35rem;
    }
  }
  p {
    font-size: 0.875rem;
    font-family:  'Poppins';
    @media(min-width: 992px) {
      font-size: 0.935rem;
    }
  }
}

.uppercase {
  text-transform: uppercase;
}

.go-back {
  display: flex;
  font-family:  'Poppins';
  justify-content: flex-start;
  margin: 1rem;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  img {
    width: 18px;
    height: 18px;
    display: block;
    margin-right: 0.35rem;
  }
  span {
    display: block;
    font-weight: 500;
    font-size: 1.25rem;
    position: relative;
    bottom: 0.275rem;
  }
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
}

.menu-horizontal {
  display: flex;
  justify-content: flex-end;
  .bttn {
    margin-right: 1.25rem;
  }
}
.dropdown.bttn {
  color: #fff;
  border-radius: 0.25rem;
  width: 60px;
  height: 25px;
  text-align: center;
  font-weight: 500;
  font-size: 0.875rem;
  a, span {
    color: #fff;
    font-weight: 500;
    opacity: 1 !important;
  }
  &.logout {
    background: rgb(241, 64, 58);
  }
  &.login {
    background: rgb(24, 231, 152);
  }
}
.expenditures {
  padding: 1.5rem;
  p {
    font-size: 0.935rem;
    margin-bottom: 0.5rem;
  }
  .capital {
    @media(max-width: 767px) {
      margin-top: 5rem;
    }
  }
}

.text-block.menu{
  &:hover {
    opacity: 0.8;
  }
  h4 {
    font-family:  'Poppins';
    font-size: 1rem;
    font-weight: 500;;
  }
}

.chart-data {
  font-weight: 500;
}

form.chart-form {
  margin-bottom: 3rem;
  .form-item {
    label {
      display: block;
      margin-bottom: 0.75rem;
      font-size: 0.875rem;
    }
  }
  select {
    margin: 0 1rem;
    height: 35px;
  }
  button {
    width: 70px;
    background: rgb(0, 201, 84);
    color: #FFFFFF;
    font-weight: bold;
    height: 35px;
    font-size: 0.875rem;
    border: none;
    border-radius: 0.25rem;
    position: relative;
    top: 2rem;
    @media(max-width: 767px) {
      top: 1rem;
      left: 1rem;
    }
  }
}

.assets {
  width: 80%;
  margin: 2rem auto;
  @media(min-width: 992px) {
    width: 65%;
  }
  .each-stat {
    box-shadow: 0px 2.70012px 10.1255px rgba(0, 0, 0, 0.15);
    height: 9.5rem;
    margin-right: -1rem;
    border-radius: 0.25rem;
    padding: 1.25rem;
    color: #ffffff;
    @media (max-width: 1200px) {
      height: 10rem;
      margin-bottom: 0.75rem;
    }
    &.one {
      background: #4B55AC;
    }
    &.two {
      background-color: #007CC2;
    }
    &.three {
      background-color: #038294;
    }
    &.four {
      background-color: #00866E;
    }
    .stats-overview {
      font-weight: bold;
    }
    .stats-data {
      display: flex;
      justify-content: space-between;
      .icon {
        position: absolute;
        bottom: 1.25rem;
        right: 3rem;
        img {
          width: 2rem;
          height: 2rem;
        }
      }
      .data {
        position: absolute;
        bottom: 1.25rem;
        left: 2.25rem;
        font-size: 1.5rem;
        font-weight: bold;
        @media (max-width: 991px) {
          font-size: 1.25rem;
        }
      }
    }
  }
}

.bar .logo {
  max-height: 3rem !important;
}

.next-prev {
  width: 100%;
  margin: 2.5rem 0;
  text-align: right;
  .bttn {
    width: 70px;
    height: 28px;
    border: none;
    border: 1px solid #777;
    color: #333;
    font-weight: 500;
    margin: 0 1rem;
    border-radius: 0.25rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.auth-logo.login {
  img {
    height: 65px;
  }
}

.auth-bg {
  background-image: url('../images/bg-a.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff !important;
  height: 100vh;
  width: 100vw;
  font-family:  'Poppins';
  .flex-itemss {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
  }
  .auth-logo {
      width: 110px;
      position: relative;
      bottom: 2rem;
      &:hover {
          cursor: pointer;
      }
  }
  input {
    font-family:  'Poppins';
      font-size: 0.875rem !important;
      height: 3rem;
  }
}
.coverr:before {
  background-color: rgba(83, 83, 83, 0.33);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.w-55 {
  margin-left: 3rem;
  text-align: left;
  @media(min-width:992px) {
    width: 54%;
    margin: 2rem auto !important;
    text-align: left;
  }
}
.la, .lab, .las {
  color: #555;
}

.base-menu {
  @media(min-width: 992px) {
    width: 75%;
    margin: auto;
  }
   @media(min-width: 1200px) {
      width: 60%;
      margin: auto;
    }
  padding-left: 2.25rem;
  .text-block a{
    text-align: left;
    h4 {
    color: #333;
    font-weight: 600;
    }
  }
}